.top-menu {
  align-items: center;
  flex-direction: row;
  border-bottom: solid thin #ececec;
  display: flex;
  height: 56px;
  justify-content: flex-end;
  position: fixed;
  width: 100%;
  z-index: 1000;
  background-color: white;
  top: 0;
}

.top-menu .logo {
  padding-left: 15px;
  margin-right: auto;
}

.top-menu img {
  height: 30px;
}

.top-menu .menu-item {
  width: 100px;
}
