### codecov.io
coverprofile

### build
/build/
node_modules/
coverage/
/vendor/

## goland
.idea/

### build
/cli/opctl-*
/opctl-*

### go
/.go/path/*
!/.go/path/.gitkeep
/.go/cache/*
!/.go/cache/.gitkeep
