[submodule "github.com/opspec-io/test-suite"]
	path = github.com/opspec-io/test-suite
	url = https://github.com/opspec-io/test-suite
[submodule "github.com/opspec-io/spec"]
	path = github.com/opspec-io/spec/spec
	url = https://github.com/opspec-io/spec
