@import "vars.common";
@import "../node_modules/bootstrap/scss/bootstrap";

body {
  color: $opctl-light-gray;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  color: $opctl-light-gray;
}

.bg-light-shaded {
  background-color: #FBFBFB;
}

.bg-light {
  background-color: white;
}

nav li:not(.active) ul {
  display: none;
}

// markdown
pre[class*="language-"] {
  margin-bottom: 2.5em;
}

// style blockquote's with or without class
blockquote {
  @extend .blockquote;
}

.v-center {
  position: relative;
  top: 50%;
  transform: perspective(1px) translateY(-50%);
}
