.app-frame {
  text-align: center;
}

.app-frame-logo {
  height: 80px;
}

.app-frame-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.app-frame-title {
  font-size: 1.5em;
}

