<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="keywords"
        content="ops,dev ops,devops docker,docker-compose,containers,no ops,operations, dockerize ops,containerize ops">
  <meta name="description" content="Swagger for ops"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="robots" content="index,follow"/>
  <title>{{title}}</title>

  <!-- favicon -->
  <link rel="icon" type="image/png" href="/images/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/images/favicon-48x48.png" sizes="48x48">
  <link rel="icon" type="image/png" href="/images/favicon-96x96.png" sizes="96x96">

  <!-- bootstrap -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"
          integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7"
          crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js"
          integrity="sha384-XTs3FgkjiBgo8qjEjBk0tGmf3wPrWtA6coPfQDfFEY8AnYJwjalXCiosYRBIBZX8"
          crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js"
          integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK"
          crossorigin="anonymous"></script>

  <!-- font awesome -->
  <script src="https://use.fontawesome.com/89691e9036.js"></script>

  <!-- prism.js-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.1/themes/prism.css"/>

  <!-- our styles-->
  <link rel="stylesheet" href="/common.css">
</head>
