<div class="navbar navbar-full navbar-fixed-top navbar-light bg-light" style="border-bottom: solid thin #ececec;">
  <a class="navbar-brand" href="/#"><img src="/images/logo-text_rect.png" style="height: 30px;"></a>
  <ul class="nav navbar-nav float-xs-right">
    <li class="nav-item">
      <a class="nav-link" href="/docs">docs</a>
    </li>
  </ul>
</div>
