<div class="navbar navbar-full navbar-fixed-top navbar-light bg-light" style="border-bottom: solid thin #ececec;">
  <a class="navbar-brand" href="/#"><img src="/images/logo-ops.svg" style="height: 30px;"></a>
  <ul class="nav navbar-nav float-xs-right">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-item" href="#" data-toggle="dropdown">Spec</a>
      <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" href="/spec">html format</a>
        <a class="dropdown-item" target="_blank" href="/spec/opspec.pdf">pdf format</a>
      </div>
    </li>
  </ul>
</div>
