<div class="navbar navbar-full navbar-fixed-top navbar-light bg-light" style="border-bottom: solid thin #ececec;">
  <a class="navbar-brand" href="/#"><img src="/images/logo-ops.svg" style="height: 30px;"></a>
  <ul class="nav navbar-nav float-xs-right">
    <li class="nav-item">
      <a class="nav-link" href="/spec">Spec (HTML version)</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" target="_blank" href="/spec/opspec.pdf">Spec (PDF version)</a>
    </li>
  </ul>
</div>
