<div class="navbar navbar-full navbar-fixed-top navbar-light bg-light" style="border-bottom: solid thin #ececec;">
  <a class="navbar-brand" href="/#"><img src="/images/logo.svg" style="height: 30px;"></a>
  <ul class="nav navbar-nav float-xs-right">
    <li class="nav-item">
      <a class="nav-link" href="/docs">docs</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-item" href="#" data-toggle="dropdown">spec</a>
      <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" href="/0.1.5">html format</a>
        <a class="dropdown-item" target="_blank" href="/0.1.5/opspec0.1.5.pdf">pdf format</a>
      </div>
    </li>
  </ul>
</div>
